# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset - do not push large image files
dataset/raw/*
dataset/processed/*
dataset/rejected/*
dataset/incoming/*
dataset/dark_candidates/*

# Keep dataset directory structure
!dataset/raw/.gitkeep
!dataset/processed/.gitkeep
!dataset/rejected/.gitkeep
!dataset/incoming/.gitkeep


# Keek the folders empty
!dataset/raw/.gitkeep
!dataset/processed/.gitkeep
!dataset/rejected/.gitkeep

# Models - do not push heavy model files
*.pth
*.pt
*.onnx
*.tflite
*.h5

# Results generated during experiments
results/plots/*.png
results/confusion_matrices/*.png
results/metrics/*.csv

# Secrets
secret.h
config/secret.h
*.pem
*.key
.env
config.json
raspberry/config.json

# OS files
.DS_Store
Thumbs.db

# runtime files
runtime/images/laatest.jpg
runtime/events.csv
runtime/logs/*

# Esp32 firmware build files
firmware/**/build/
firmware/**/managed_components/
firmware/**/sdkconfig
firmware/**/sdkconfig.old


# Node modules
backend/
.node-red/
flows_cred.json
*.credentials.json